@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-Italic.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-MediumItalic.ttf')  format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-SemiBold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-SemiBoldItalic.ttf')  format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-BoldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-ExtraBold.ttf')  format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-ExtraBoldItalic.ttf')  format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('styles/fonts/Alegreya-BlackItalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}
