// COLORS--------------------------------------------
$deep-dark: #2c3e50; // background and main dark text
$light-white: aliceblue; // main light text

// color palette
$dark-blue: #274472;
$midnight-blue: #41729f;
$blue-gray: #5885af;
$baby-blue: #c3e0e5;

$blue-green: #37beb0;

// SHADOWS--------------------------------------------
$common-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
